<%- include("partials/header.html") %>

<div class="container w-50">
<form action="/submit" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="head" id="quoteHeading" placeholder="eg - Motivation">
        <label for="quoteHeading" class="form-label">Quote heading</label>
    </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="author" id="author" placeholder="Author">
        <label for="author" class="form-label">Author</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" name="desc" id="quoteDesc" placeholder="Leave the quote here" style="height: 100px" maxlength="150"></textarea>
        <label for="quoteDesc" class="form-label">Quote Description</label>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>

<%- include("partials/footer.html") %>
